NotifyAppOwner.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_NotifyAppOwner_name": {
            "defaultValue": "NotifyAppOwner",
            "type": "String"
        },
        "connections_office365_name": {
            "defaultValue": "office365",
            "type": "String"
        },
        "connections_eventhubs_name": {
            "defaultValue": "eventhubs",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_eventhubs_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName":  "[parameters('connections_eventhubs_name')]",
                "statuses": [
                    {
                        "status": "Ready"
                    }
                ],
                "customParameterValues": {},
                "api": {
                    "name": "eventhubs",
                    "displayName": "Event Hubs",
                    "description": "Connect to Azure Event Hubs to send and receive events.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1568/1.0.1568.2757/eventhubs/icon.png')]",
                    "brandColor": "#c4d5ff",
                   "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location,'/managedApis/eventhubs')]", 
                   "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_office365_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "office365",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "api": {
                    "name": "office365",
                    "displayName": "office365",
                    "description": "Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1573/1.0.1573.2770/office365/icon.png')]",
                    "brandColor": "#0078D4",
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location,'/managedApis/office365')]",
                    "type": "Microsoft.Web/locations/managedApis"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_NotifyAppOwner_name')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_eventhubs_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_events_are_available_in_Event_Hub": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 3
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 3
                            },
                            "splitOn": "@triggerBody()",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['eventhubs']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent('insights-logs-serviceprincipalriskevents')}/events/batch/head",
                                "queries": {
                                    "consumerGroupName": "$Default",
                                    "contentType": "application/octet-stream",
                                    "maximumEventsCount": 50
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_Each_Risk_Detections": {
                            "foreach": "@body('Parse_Risk_Event')?['records']",
                            "actions": {
                                "Ignore_the_dismissed_risk": {
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "Send_an_email_(V2)_2": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Body": "<p>Application ID:@{items('For_Each_Risk_Detections')?['properties']?['servicePrincipalId']}<br>\nApplication Name:@{items('For_Each_Risk_Detections')?['properties']?['servicePrincipalDisplayName']}<br>\nRisk Details:@{items('For_Each_Risk_Detections')?['properties']?['riskDetail']}</p>",
                                                            "Subject": "The application @{items('For_Each_Risk_Detections')?['properties']?['servicePrincipalDisplayName']} has risk detected",
                                                            "To": "@variables('OwnerEmails')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/Mail"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Get_all_owners_email": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@variables('OwnerEmails')",
                                                                ""
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Get_all_owners_email": {
                                            "foreach": "@body('Parse_JSON')?['value']",
                                            "actions": {
                                                "Condition_2": {
                                                    "actions": {
                                                        "Append_to_string_variable": {
                                                            "runAfter": {},
                                                            "type": "AppendToStringVariable",
                                                            "inputs": {
                                                                "name": "OwnerEmails",
                                                                "value": "@{items('Get_all_owners_email')?['mail']};"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "not": {
                                                                    "equals": [
                                                                        "@items('Get_all_owners_email')?['mail']",
                                                                        "@null"
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Graph_API_to_get_owners": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/@{items('For_Each_Risk_Detections')?['properties']?['servicePrincipalId']}/owners"
                                            }
                                        },
                                        "Parse_JSON": {
                                            "runAfter": {
                                                "Graph_API_to_get_owners": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Graph_API_to_get_owners')",
                                                "schema": {
                                                    "properties": {
                                                        "@@odata.context": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "items": {
                                                                "properties": {
                                                                    "@@odata.type": {
                                                                        "type": "string"
                                                                    },
                                                                    "businessPhones": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "displayName": {
                                                                        "type": "string"
                                                                    },
                                                                    "givenName": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "jobTitle": {},
                                                                    "mail": {},
                                                                    "mobilePhone": {},
                                                                    "officeLocation": {},
                                                                    "preferredLanguage": {},
                                                                    "surname": {
                                                                        "type": "string"
                                                                    },
                                                                    "userPrincipalName": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "@@odata.type",
                                                                    "id",
                                                                    "businessPhones",
                                                                    "displayName",
                                                                    "givenName",
                                                                    "jobTitle",
                                                                    "mail",
                                                                    "mobilePhone",
                                                                    "officeLocation",
                                                                    "preferredLanguage",
                                                                    "surname",
                                                                    "userPrincipalName"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@items('For_Each_Risk_Detections')?['properties']?['riskDetail']",
                                                        "dismissed"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Initialize_OwnerEmails": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_OwnerEmails": {
                            "runAfter": {
                                "Parse_Risk_Event": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OwnerEmails",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_Risk_Event": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@decodeBase64(triggerBody()?['ContentData'])",
                                "schema": {
                                    "properties": {
                                        "records": {
                                            "items": {
                                                "properties": {
                                                    "Level": {
                                                        "type": "integer"
                                                    },
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "correlationId": {
                                                        "type": "string"
                                                    },
                                                    "durationMs": {
                                                        "type": "integer"
                                                    },
                                                    "identity": {
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "type": "string"
                                                    },
                                                    "operationName": {
                                                        "type": "string"
                                                    },
                                                    "operationVersion": {
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "activity": {
                                                                "type": "string"
                                                            },
                                                            "activityDateTime": {
                                                                "type": "string"
                                                            },
                                                            "additionalInfo": {
                                                                "type": "string"
                                                            },
                                                            "appId": {
                                                                "type": "string"
                                                            },
                                                            "correlationId": {},
                                                            "detectedDateTime": {
                                                                "type": "string"
                                                            },
                                                            "detectionTimingType": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "ipAddress": {},
                                                            "keyIds": {
                                                                "type": "array"
                                                            },
                                                            "lastUpdatedDateTime": {
                                                                "type": "string"
                                                            },
                                                            "location": {},
                                                            "requestId": {},
                                                            "riskDetail": {
                                                                "type": "string"
                                                            },
                                                            "riskEventType": {
                                                                "type": "string"
                                                            },
                                                            "riskLevel": {
                                                                "type": "string"
                                                            },
                                                            "riskState": {
                                                                "type": "string"
                                                            },
                                                            "servicePrincipalDisplayName": {
                                                                "type": "string"
                                                            },
                                                            "servicePrincipalId": {
                                                                "type": "string"
                                                            },
                                                            "source": {
                                                                "type": "string"
                                                            },
                                                            "tokenIssuerType": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "resourceId": {
                                                        "type": "string"
                                                    },
                                                    "resultSignature": {
                                                        "type": "string"
                                                    },
                                                    "tenantId": {
                                                        "type": "string"
                                                    },
                                                    "time": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "time",
                                                    "resourceId",
                                                    "operationName",
                                                    "operationVersion",
                                                    "category",
                                                    "tenantId",
                                                    "resultSignature",
                                                    "durationMs",
                                                    "correlationId",
                                                    "identity",
                                                    "Level",
                                                    "location",
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
            },
                "parameters": {
                    "$connections": {
                        "value": {
                            "eventhubs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_eventhubs_name'))]",
                                "connectionName": "[parameters('connections_eventhubs_name')]",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location,'/managedApis/eventhubs')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                                "connectionName": "[parameters('connections_office365_name')]",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location,'/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}